@page
@model Web.Pages.Customers.MovieListModel
@{
}
<style>
    a {
        text-decoration: none;
    }

    .card-title, .card-text {
        text-decoration: none;
    }

    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    .card img {
        height: auto;
        max-width: 100%;
    }

    .card-text, .card-title {
        margin: 0;
    }

    .btn {
        margin-top: auto;
    }
</style>
<div class="container">

    <div class="row mb-3">
        @foreach (var item in Model.Movie)
        {
            <div class="col-md-3 d-flex align-items-stretch mt-2">
                <a asp-page="MovieDetail" asp-route-id="@item.MovieId.ToString()">
                    <div class="card mt-2">
                        <img src="@Url.Content(item.Poster)" class="card-img-top" alt="Movie 2">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title text-center" style="color:black;">@item.Title</h3>
                            <p class="card-text text-center">@item.Time mins</p>
                            <button class="btn btn-primary mt-auto">View Detail</button>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

</div>
