@inject IHttpContextAccessor context;
@using DTO.Models
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Razor.TagHelpers;
@{
    string currentViewPath = ViewContext.View.Path;
    var myValue = context.HttpContext.Session.GetString("useradmin");
}

<header>
    @if (currentViewPath != "/Pages/Login.cshtml")
    {
        <nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
            <div class="container-xl">
                <a class="navbar-brand fs-2 p-0 fw-bold text-black m-0 me-5" href="http://localhost:5017/Managers/Index">
                    <i class="fa fa-youtube-play me-1 col_red"></i> Play Show
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="http://localhost:5017/Managers/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:5017/Managers/ManageMovie/Index">Manage Movie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:5017/Managers/ManageShowtime">Manage Show Time</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:5017/Managers/ManageUser/Index">Manage User</a>
                        </li>


                    </ul>
                    <ul class="navbar-nav mb-0 ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown_search" href="#" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-search"></i>
                            </a>
                            <ul class="dropdown-menu drop_1 drop_o p-3" aria-labelledby="navbarDropdown"
                                data-bs-popper="none">
                                <li>
                                    <div class="input-group p-2">
                                        <input type="text" class="form-control border-0" placeholder="Search Here">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary bg-transparent border-0 fs-5" type="button">
                                                <i class="fa fa-search col_red"></i>
                                            </button>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown_search" href="#" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-bell-o"></i>
                            </a>
                            <ul class="dropdown-menu drop_1 drop_o drop_o1 p-0" aria-labelledby="navbarDropdown"
                                data-bs-popper="none">
                                <li class="bg_red text-white p-3 fw-bold">
                                    Notification <span class="bg-white col_red span_1 rounded-circle d-inline-block me-1">3</span>
                                </li>
                                <li class="p-3 pb-0">
                                    <div class="row">
                                        <div class="col-md-2 pe-0 col-2">
                                            <i class="fa fa-circle col_red font_8"></i>
                                        </div>
                                        <div class="col-md-10 ps-0 col-10">
                                            <a class="fw-normal text-capitalize" href="#">Semper</a> download
                                            2000+ Simple Line Icons and Explore<br>
                                            <span class="text-muted font_14">2 Days</span>
                                        </div>
                                    </div>
                                </li>
                                <hr>
                                <li class="p-3 pt-0">
                                    <div class="row">
                                        <div class="col-md-2 pe-0 col-2">
                                            <i class="fa fa-circle col_red font_8"></i>
                                        </div>
                                        <div class="col-md-10 ps-0 col-10">
                                            Added new movie <a class="fw-normal text-capitalize" href="#">Porta</a> Cheatsheet to Start Using With Your Projects.<br>
                                            <span class="text-muted font_14">3 Days</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            @if (context.HttpContext.Session.GetString("user") == null)
                            {
                                <a class="nav-link" href="http://localhost:5017/Login">
                                    <i class="fa fa-user fs-4 align-middle me-1 lh-1 col_red">Login</i>
                                </a>
                            }
                            else
                            {
                                <a class="nav-link" href="http://localhost:5017/Customers/UserProfile">
                                    <i class="fa fa-user fs-4 align-middle me-1 lh-1 col_red">@context.HttpContext.Session.GetString("userName")</i>
                                </a>
                            }


                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }


</header>
